
header {
    background-color: rgb(23, 0, 78);
    height: 100px;
    align-items: center;
    display: flex;
    color: white;
}

li {
    display: inline;
    text-decoration: none;
    margin: 5px;
}
[class*="col"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.mt-10px {
    margin-top: 10px;
}

.jumbotron {
    background-color: aqua;
}
.jumbotron img {
    width: 200px;
}
#portfolio img {
    width: 240px;
}
.about {
    background-color: aqua;
    color: white;
}
#dowload {
    background-color: aqua;
    color: white;
    
}
.c-form {
    padding-right: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(128, 128, 128, 0.589);
}