
header {
    background-color: rgb(23, 0, 78);
    height: 100px;
    align-items: center;
    display: flex;
    color: white;
}

li {
    display: inline;
    text-decoration: none;
    margin: 5px;
}
.row {
    justify-content: center;
}
.pippo {
    text-align: center;
}
.jumbotron {
    background-color: aqua;
}

