
header {
    background-color: rgb(42, 12, 110);
    height: 100px;
    align-items: center;
    display: flex;
    color: white;
}

li {
    display: inline;
    text-decoration: none;
    margin: 5px;
}